---
const sortTable = (data, column, direction) => {
  // Sorting logic here
  return [];
};

const { data, columns } = Astro.props;

---


<table>
  <thead>
    <tr>
      {columns.map((column) => (
        <th>{column.label}</th>
      ))}
    </tr>
  </thead>
  <tbody>
    {data.map((row) => (
      <tr>
        {columns.map((column) => (
          <td>{row[column.key]}</td>
        ))}
      </tr>
    ))}
  </tbody>
</table>