---
import Sectionhead from "@components/sectionhead.astro";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import pageData from 'assets/crux-history-urls.json';
import cruxHistorySitesData from 'assets/crux-history-sites.json';
import cruxHistoryOtherSitesData from "assets/crux-history-othersites.json";
import CruxSummaryData from "@components/summary-data/crux/index";
import {getValidCruxData} from "@components/cwv-data-utils/data-clean";


const pageHistoryData = getValidCruxData(pageData);
const siteData=getValidCruxData(cruxHistorySitesData);
const otherSiteData=getValidCruxData(cruxHistoryOtherSitesData);
---

<Layout title="Dashboard">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Summary</Fragment>
      <Fragment slot="desc">Some stats in tables</Fragment>
    </Sectionhead>
    <div class="flex flex-col p-4">
       <CruxSummaryData pageData={pageHistoryData} siteData={siteData} otherSiteData={otherSiteData} client:load /> 
    </div>  
  </Container>  
</Layout>

../components/store