---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import CruxIssueTiming from "@components/crux/timing-report/index";
import { getValidCruxData } from "@components/cwv-data-utils/data-clean";
import cruxHistorySitesData from "@assets/data/sites.json";
import Layout from "@layouts/Layout.astro";

const siteData = getValidCruxData({
  data: cruxHistorySitesData,
  cruxType: "origin",
  summaryOnly: false,
});
---

<Layout title="CrUX Issue Timing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">CrUX Issue Timing</Fragment>
      <Fragment slot="desc">
        Core Web Vitals latest-period trend and issue timing across origins.
      </Fragment>
    </Sectionhead>
    <div class="flex flex-col p-4">
      <CruxIssueTiming siteData={siteData} client:load />
    </div>
  </Container>
</Layout>
