---
import Sectionhead from "@components/sectionhead.astro";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import cruxHistoryOtherSitesData from "@assets/sample-data/other-sites.json";
import cruxHistoryOtherSitesDesktopData from "@assets/sample-data/other-sites-desktop.json";
import CruxSummaryData from "@components/crux/data-table/index";
import {getValidCruxData} from "@components/cwv-data-utils/data-clean";
import pageData from '@assets/data/all-page-urls.json'
import pageDesktopData from '@assets/data/all-page-urls-desktop.json'
import cruxHistorySitesData from '@assets/data/sites.json'
import cruxHistorySitesDesktopData from '@assets/data/sites-desktop.json'

const otherSiteData= getValidCruxData({data: cruxHistoryOtherSitesData, cruxType: 'origin'});
const siteData= getValidCruxData({data: cruxHistorySitesData,  cruxType: 'origin'});
const pageHistoryData = getValidCruxData({data: pageData, cruxType: 'url'});
const otherSiteDesktopData= getValidCruxData({data: cruxHistoryOtherSitesDesktopData, cruxType: 'origin'});
const siteDesktopData= getValidCruxData({data: cruxHistorySitesDesktopData,  cruxType: 'origin'});
const pageHistoryDesktopData = getValidCruxData({data: pageDesktopData, cruxType: 'url'});

const dataByFormFactor = {
  PHONE: {
    pageData: pageHistoryData,
    siteData,
    otherSiteData,
  },
  DESKTOP: {
    pageData: pageHistoryDesktopData,
    siteData: siteDesktopData,
    otherSiteData: otherSiteDesktopData,
  },
};

---

<Layout title="Dashboard">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Crux Data</Fragment>
      <Fragment slot="desc">Core Web Vitasl as in <a class='text-blue-600' href="https://developer.chrome.com/docs/crux/history-api/">Crux History Api</a></Fragment>
    </Sectionhead>
    <div class="px-4">
      <a class="text-blue-600 hover:text-blue-800" href="/crux-issue-timing">
        View issue timing report
      </a>
    </div>
    <div class="flex flex-col p-4">
       <CruxSummaryData dataByFormFactor={dataByFormFactor} client:load />
    </div>  
  </Container>  
</Layout>
