---
import Sectionhead from "@components/sectionhead.astro";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import DrillDown from "@components/crux/drilldown/index";

---

<Layout title="Dashboard">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Crux Data</Fragment>
      <Fragment slot="desc">Core Web Vitasl as in <a class='text-blue-600' href="https://developer.chrome.com/docs/crux/history-api/">Crux History Api</a></Fragment>
    </Sectionhead>
    <div class="flex flex-col p-4">
       <DrillDown client:only  /> 
    </div>  
  </Container>  
</Layout>

