---
import Sectionhead from "@components/sectionhead.astro";
import HistoryChart from "@components/crux/crux-history-chart/index";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import cruxHistoryOtherSitesData from '@assets/sample-data/crux-history-othersites.json';
import {getValidCruxData} from "@components/cwv-data-utils/data-clean";

let pageHistoryData = null; 
let siteData=null;
const otherSiteData=getValidCruxData(cruxHistoryOtherSitesData);

export async function load() {
  if (process.env.environment === 'development') {
    const pageData = await import('@assets/data/crux-history-urls.json');
    const cruxHistorySitesData = await import('@assets/data/crux-history-sites.json');
    pageHistoryData = getValidCruxData(pageData);
    siteData = getValidCruxData(cruxHistorySitesData);
  } 
}
---

<Layout title="Crux History Trend">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Crux History Trend</Fragment>
      <Fragment slot="desc">Trend chart for selected urls</Fragment>
    </Sectionhead>
    <div class="flex flex-col max-w-4xl mt-8">
      <HistoryChart client:only data={pageHistoryData} siteData={siteData} otherSiteData={otherSiteData} />
    </div>
  </Container>  
</Layout>
