---
import Sectionhead from "@components/sectionhead.astro";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import cruxHistoryOtherSitesData from "@assets/sample-data/crux-history-othersites.json";
import CruxSummaryData from "@components/crux/data-table/index";
import {getValidCruxData} from "@components/cwv-data-utils/data-clean";

const otherSiteData=getValidCruxData(cruxHistoryOtherSitesData);

let pageHistoryData = null; 
let siteData=null;

export async function load() {
  if (process.env.environment === 'development') {
    const pageData = await import('@assets/data/crux-history-urls.json');
    const cruxHistorySitesData = await import('@assets/data/crux-history-sites.json');
    pageHistoryData = getValidCruxData(pageData);
    siteData = getValidCruxData(cruxHistorySitesData);
  } 
}
---

<Layout title="Dashboard">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Crux Data</Fragment>
      <Fragment slot="desc">Core Web Vitasl as in <a class='text-blue-600' href="https://developer.chrome.com/docs/crux/history-api/">Crux History Api</a></Fragment>
    </Sectionhead>
    <div class="flex flex-col p-4">
       <CruxSummaryData pageData={pageHistoryData} siteData={siteData} otherSiteData={otherSiteData} client:load /> 
    </div>  
  </Container>  
</Layout>

