---
import Sectionhead from "@components/sectionhead.astro";
import { ChartContainer } from "@components/chart/container.tsx";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import data from '@assets/data/pagespeed-results-mobile.json';

---

<Layout title="Dashboard">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Dashboard</Fragment>
      <Fragment slot="desc">Trend chart for selected urls</Fragment>
    </Sectionhead>
    <div class="flex flex-col max-w-4xl mt-8">
      <ChartContainer client:only data={data} />
    </div>
  </Container>  
</Layout>
