---
// EnvProvider.astro
---
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    window.envs = JSON.parse(document.getElementById('env-context').dataset.envs);
  });
 </script>
<div id="env-context" data-envs={JSON.stringify(Astro.props.envs)}>
  <slot />
</div>